<link rel="stylesheet" href="/controllers/stylesheet.css">
<script src="https://cdn.tailwindcss.com"></script>
<div class="login-container">
    <h1 class="mt-10 text-center text-4xl font-bold leading-9 tracking-tight text-gray-900 padding-bottom: 50px;">Welcome to financeTrackr!</h1><hr>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Register</h1>
    <form class="space-y-6" action="#" method="POST" id="register">
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900 font-extrabold">Username:</label>
        <input type="text" id="registerUsername" name="username"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <br>
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900 font-extrabold">Password:</label>
        <input type="password" id="registerPassword" name="password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <br>
        <button type="submit" id="registerBtn"
            class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-purple-600">Register</button>
    </form>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Login</h1>
    <form class="space-y-6" action="#" method="POST" id="login">
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900 font-extrabold">Username:</label>
        <input type="text" id="loginUsername" name="username"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <br>
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900 font-extrabold">Password:</label>
        <input type="password" id="loginPassword" name="password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        <br>
        <button type="submit" id="loginBtn"
            class="flex w-full justify-center rounded-md bg-purple-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/controllers/login.js"></script>