<div class="login-container">
    <h1>Register</h1>
    <form id="register">
        <label for="username">Username:</label>
        <input type="text" id="registerUsername" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="registerPassword" name="password">
        <br>
        <button type="submit" id="registerBtn">Login</button>
    </form>

    <h1>Login</h1>
    <form id="login">
        <label for="username">Username:</label>
        <input type="text" id="loginUsername" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="loginPassword" name="password">
        <br>
        <button type="submit" id="loginBtn">Login</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/financeTrackr/public/js/login.js"></script>
