<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/controllers/stylesheet.css">
    <title>{{title}}</title>
</head>

<body class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

    <div class="sm:mx-auto sm:w-full sm:max-w-sm content">
        {{#if isAuthenticated}}
        {{{body}}}
        {{else}}
        {{> login}}
        {{/if}}
    </div>

</body>

</html>