<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  
  <h1>Welcome, {{user.username}}!</h1>
  
  <div class="add-dish-container">
    <h2>
      Form
    </h2>
    <form class="expense_form">
      <label for="name">
        Expense Name:
      </label>
      <br />
      <textarea id="name" name="name" rows="2" cols="30">
          </textarea>
      
      
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>

  <!-- Display expenses for the user -->
  <ul>
    {{#each user.expenses}}
      <li>{{this.name}} - {{this.spending}}</li>
    {{/each}}
  </ul>
 

</body>
</html>